body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0%;
}

.logo-image {
    width: 50px;
}

.nitro-text{
    font-size: 60px;
    font-family: 'Open Sans';
    font-weight: light 400;
    margin: 0 auto 0 0;
}

.bg_pink{
    background-color: #FFF0ED;
}

.bg_gray{
    background-color: #F7F7F7;
}

.nav-inline{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-inline-start: 1em;
}
.nav-link_font{
    font-size: 33px;
    font-family: 'Open Sans';
    font-weight: light 300;
    text-align: center;
    text-decoration: none;
    padding: 2rem ;
    display: flex;
    justify-content: flex-end;
}
.nav-color{
    color: black;
}

.nav-color_highlight{
    color: #5BACC3;
}