body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0%;
}

.logo-image {
    width: 50px;
}

.nitro-text{
    font-size: 60px;
    font-family: 'Open Sans';
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    margin: 0%;
    text-decoration: none;
    color: black;
}
.nav-items{
    display: flex;
    margin-inline-start: auto;
    padding: 0em;
}

.bg_pink{
    background-color: #FFF0ED;
}

.bg_gray{
    background-color: #F7F7F7;
}

.nav-inline{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 100%;
    padding-inline-start: 1em;
}
.nav-link_font{
    font-size: 21px;
    font-family: 'Open Sans';
    font-weight: light 300;
    text-align: center;
    text-decoration: none;
    padding-inline: 0.5em;
    display: flex;
    justify-content: space-between;
}
.nav-color{
    color: black;
}

.nav-color_highlight{
    color: #5BACC3;
}