.button{
    background-color: #5BACC3;
    color: white;
    border: none;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-weight: regular 400;
    width: 180px;
    padding: 20px;
    
}
.view-all-button{
    display: block;
    margin: auto;
}
.shop-now-button{
    display: block;
    justify-self: left;
    margin-top: 1.5em;
}
.nitro-container{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 2em 4em 2em 8em;
}

.nitro-heading{
    font-size: 60px;
    font-family: 'Open Sans';
    font-weight: light 300;
    margin-top: 2em;
    text-align: left;
    margin-bottom: 0%;
}
.nitro-text_styling{
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: regular 400;
    width: 67%;  
    text-align: left; 
}

.nitro-text-container{
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding: auto;
}
.nitro-image-container{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
}

.nitro-image{
    display: flex;
    justify-content: space-around;
    align-content: space-evenly;
}

.product-heading{
    font-size: 60px;
    font-family: 'Open Sans';
    font-weight: light 300;
    text-align: center;
    margin-top: 0%;
}
.product-images{
    height: 280px;
    padding: 20px;
    justify-self: center;
}

.product-container{
    padding: 2em;
}

.product-card{
    width: 330px;
    height: 440px;
    border-radius: 10px;
    /* padding: 20px; */
    margin: 10px;
    box-shadow: 0 5px 9px -1px rgba(0,0,0,0.25);
    text-align: center;
    display: inline-grid;
}
.product-details{
    display: flex;
    width: 100%;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.product-inline{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2%;
}
 .footer-heading{
    font-size: 33px;
    font-family: 'Open Sans';
    font-weight: light 300;
}
.menu-heading{
    font-size: 33px;
    font-family: 'Open Sans';
    font-weight: light 300;
    margin: 0;
    text-align: left;
}
.menu-description{
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: regular 400;
    margin: 0%;
    color: #393939;
    text-align: left;
}

.highlight{
    color: #5BACC3;
}

.cold-brew-icons{
    display: flex;
    flex-direction: row;
    /* justify-self: left; */
    justify-content: space-between;
    width: 60%;
}
.cold-brew_image{
    background-image: url("\\assets\\images\\coldbrewbackground.png");
    background-position: center;
    background-size: cover;
    width: 400px;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
}

.cold-brew-description{
    justify-items: flex-start;
    align-content: center;
}
.foreground-image{
    height: 280px;
    padding: 20px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.cold-brew-heading{
    font-size: 60px;
    font-family: 'Open Sans';
    font-weight: light 300;
    text-align: left;
    margin: 0%;
    align-content: center;
    width: 100%;
}
.cold-brew-text_styling{
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: regular 400;
    width: 60%;  
    text-align: left; 
}

.cold-brew_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8% 4%;
}

.discount-banner{
    font-size: 45px;
    font-family: 'Open Sans';
    font-weight: regular 400;   
    width: 90%;
    color: white;
    background-color: #393939;
    text-align: center;
    margin: 8% auto;
    padding: 2% 1%;
}

.text-bold{
    font-weight: bold;
    
}

.footer-container{
    display: inline-flex;
    width: 100%;
    justify-content:space-around;
    align-items: center;
}