.logo-image {
    width: 50px;
}

.title-box{
    width: 300px;
    height: 200px;
    font-size: 60px;
    font-family: 'Open Sans';
    font-weight: light 300;
    text-align: center;
    color: white;
    background-color: #393939;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    left: 20px;
}
.menu-border{
    width: 300px;
    height: 200px;
    border: 5px solid #5BACC3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.main-image{
    background-image: url("/assets/images/coffee-circle.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0%;
    
}
.nav{
    width: 100%;
    align-self: center;
    background-color: #393939;
    color: white;
    list-style: "I";
    display: flex;
    justify-content: center;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
}
ul.nav li{
    font-size: 1.5em;
    color: aqua;
}

ul.nav{
    margin: 0%;
    align-items: center;
    text-align: center;
    justify-items: center;
}

#hot_drinks{
    margin-top: 0%;
}
.nav-link{
    color: white;
    justify-content: left;
    padding: 0 1em;
}

.nav-link__items{
    
    font-size: 21px;
    font-weight: light 300;
    text-decoration: none;
    color: white;
}

.menu_container, .nav_container{
    width: auto;
    text-align: center;
    margin: 0;
}

.menu_heading{
    font-size: 60px;
    font-family: 'Open Sans';
    font-weight: light 300;
    text-align: center;
    margin: 0%;
}
.menu-item_heading{
    font-size: 33px;
    font-family: 'Open Sans';
    font-weight: regular 400;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 25px;
}
.menu-inline{
    display: inline-table;
    justify-content: center;
    margin: 0;
}
.menu-details{
    padding: 1.5em;
}

.text{
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: italic 400;
    font-style: italic;
    width: 40%;
    text-emphasis: true;
    text-align: center;
}

.text-highlight{
    color: #5BACC3;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0%;
}